@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
  /* color: #526f88 */
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  /* calculates the height dynamically based on the viewport height (100vh) minus 60 pixels. This approach ensures that the navigation element's height remains responsive and adjusts according to the available screen space. */

  .btn {
    @apply px-5 py-2 my-5 border border-transparent rounded-3xl bg-blue hover:bg-transparent hover:border hover:text-blue hover:border-blue;
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 bg-gray-300 rounded-full backdrop-blur;
  }

  .size-btn-container {
    @apply flex items-center justify-center gap-1 p-1 ml-3 bg-gray-300 rounded-full backdrop-blur;
  }

  .size-btn {
    @apply flex items-center justify-center w-10 h-10 text-sm text-black transition-all bg-white rounded-full;
  }

  .common-padding {
    @apply px-5 py-20 sm:py-32 sm:px-10;
  }

  .section-heading {
    @apply mb-5 mr-4 text-3xl font-medium translate-y-20 opacity-0 text-gray lg:text-6xl md:text-5xl lg:mb-0;
  }

  .feature-text {
    @apply text-gray max-w-md text-lg md:text-xl font-semibold opacity-0 translate-y-[100px];
  }

  .feature-text-container {
    @apply flex-col w-full gap-5 mt-10 flex-center md:flex-row md:mt-16;
  }

  .feature-video {
    @apply object-cover object-center w-full h-full scale-150 opacity-0;
  }

  .feature-video-container {
    @apply flex flex-col items-center w-full gap-5 md:flex-row;
  }

  .link {
    @apply flex items-center mb-5 translate-y-20 opacity-0 cursor-pointer lg:mb-0 lg:text-xl md:text-lg sm:text-base text-blue hover:underline;
  }

  .control-btn {
    @apply p-4 ml-4 bg-gray-300 rounded-full backdrop-blur flex-center;
  }

  .hero-title {
    @apply text-3xl font-semibold text-center text-gray-100 opacity-0 max-md:mb-10;
  }

  .hiw-title {
    @apply text-4xl font-semibold text-center md:text-7xl;
  }

  .hiw-subtitle {
    @apply py-10 text-xl font-semibold text-center text-gray md:text-2xl;
  }

  .hiw-video {
    @apply absolute w-[95%] h-[90%] rounded-[56px] overflow-hidden;
  }

  .hiw-text-container {
    @apply flex flex-col items-start justify-between gap-24 md:flex-row;
  }

  .hiw-text {
    @apply text-xl font-normal text-gray md:font-semibold;
  }

  .hiw-bigtext {
    @apply my-2 text-3xl font-normal text-white md:text-5xl md:font-semibold;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}
